.blueCard::after {
  background-image: url("/grid-square.svg");
  background-size: cover;
  background-position: center center;
  border-radius: inherit;
  content: "";
  height: 100%;
  left: 0px;
  mix-blend-mode: color-dodge;
  opacity: 0.5;
  pointer-events: none;
  top: 0px;
  width: 100%;
}

.blueCard:hover {
  box-shadow: rgb(64, 221, 255) 0px 0px 25px, rgb(64, 221, 255) 0px 0px 8px 2px;
  transform: translateY(-12px);
}

.blueCard {
  background: rgba(0, 0, 0, 0)
    linear-gradient(rgb(124, 127, 255) 0%, rgb(64, 221, 255) 100%) repeat scroll
    0% 0%;
  border: 4px solid rgb(64, 221, 255);
  border-radius: 24px;
  box-shadow: rgb(64, 221, 255) 0px 0px 12px;
  padding: 40px 48px;
  position: relative;
  transition: all 0.4s cubic-bezier(0.8, -1, 0.2, 1.5) 0s;
}

.blueCard h3 {
  color: rgb(23, 15, 30);
  text-shadow: none;
}

.blueCard p {
  color: rgb(23, 15, 30);
  font-family: "JetBrains Mono", monospace;
  text-shadow: none;
}
