.qrcode:hover {
  animation: shake 0.5s;
  animation-iteration-count: infinite;
}

@keyframes shake {
  0% {
    transform: translate(1px, 1px) rotate(0deg);
  }
  10% {
    transform: translate(-1px, -2px) rotate(-1deg);
  }
  20% {
    transform: translate(-3px, 0px) rotate(1deg);
  }
  30% {
    transform: translate(3px, 2px) rotate(0deg);
  }
  40% {
    transform: translate(1px, -1px) rotate(1deg);
  }
  50% {
    transform: translate(-1px, 2px) rotate(-1deg);
  }
  60% {
    transform: translate(-3px, 1px) rotate(0deg);
  }
  70% {
    transform: translate(3px, 1px) rotate(-1deg);
  }
  80% {
    transform: translate(-1px, -1px) rotate(1deg);
  }
  90% {
    transform: translate(1px, 2px) rotate(0deg);
  }
  100% {
    transform: translate(1px, -2px) rotate(-1deg);
  }
}

/* special button */

.htb-button {
  display: inline-block;
  max-width: 100%;
  height: 40px;
  -webkit-transition: 0.2s ease;
  transition: 0.2s ease;
} \n
.htb-button.wrapper_special {
  -webkit-filter: drop-shadow(-1px -1px 2px rgba(255, 215, 77, 0.6))
    drop-shadow(1px 1px 2px rgba(124, 127, 255, 0.6));
  filter: drop-shadow(-1px -1px 2px rgba(255, 215, 77, 0.6))
    drop-shadow(1px 1px 2px rgba(124, 127, 255, 0.6));
} 

.htb-button:disabled {
  cursor: default;
} 

.htb-button:not(:disabled) {
  cursor: pointer;
} 

.htb-button:not(:disabled):hover {
  -webkit-filter: drop-shadow(-1px -1px 2px rgba(255, 215, 77, 0.6))
    drop-shadow(1px 1px 2px rgba(124, 127, 255, 0.6));
  filter: drop-shadow(-1px -1px 2px rgba(255, 215, 77, 0.6))
    drop-shadow(1px 1px 2px rgba(124, 127, 255, 0.6));
} 

.htb-button:not(:disabled) .btn:active {
  -webkit-transform: scale(0.95);
  -ms-transform: scale(0.95);
  transform: scale(0.95);
} 

.htb-button .btn {
  background: #e5e1e6;
  border: none;
  border-radius: 2px;
  -webkit-clip-path: polygon(
    12px 0,
    100% 0,
    100% 72%,
    calc(100% - 12px) 100%,
    0 100%,
    0 12px
  );
  clip-path: polygon(
    12px 0,
    100% 0,
    100% 72%,
    calc(100% - 12px) 100%,
    0 100%,
    0 12px
  );
  color: #170f1e;
  font-family: "JetBrains Mono", monospace;
  font-size: 16px;
  font-weight: 500;
  line-height: 24px;
  display: inline-block;
  overflow: hidden;
  padding: 8px 18px;
  -webkit-text-decoration: none;
  text-decoration: none;
  -webkit-transition: 0.2s;
  transition: 0.2s;
} 

.htb-button .special {
  -webkit-filter: drop-shadow(-1px -1px 2px rgba(255, 215, 77, 0.6))
    drop-shadow(1px 1px 2px rgba(124, 127, 255, 0.6));
  filter: drop-shadow(-1px -1px 2px rgba(255, 215, 77, 0.6))
    drop-shadow(1px 1px 2px rgba(124, 127, 255, 0.6));
  -webkit-animation: 1.5s ease infinite alternate running jNbght;
  animation: 1.5s ease infinite alternate running jNbght;
  background: linear-gradient(90deg, #ffd74d 0%, #40ddff 30%, #7c7fff 85%);
  background-size: 200% 100%;
  color: #170f1e;
} 

.htb-button .special svg {
  left: -24px;
  opacity: 0.3;
  position: absolute;
  top: -2px;
  -webkit-transition: 0.4s cubic-bezier(0.5, -0.5, 0.5, 1.5);
  transition: 0.4s cubic-bezier(0.5, -0.5, 0.5, 1.5);
} 

.htb-button .special:hover {
  -webkit-transform: rotate(2deg);
  -ms-transform: rotate(2deg);
  transform: rotate(2deg);
} 

.htb-button .special:active {
  -webkit-transform: scale(0.95) rotate(2deg);
  -ms-transform: scale(0.95) rotate(2deg);
  transform: scale(0.95) rotate(2deg);
} 

.htb-button .special:hover svg {
  opacity: 0.8;
  -webkit-transform: translateX(50px) scale(2);
  -ms-transform: translateX(50px) scale(2);
  transform: translateX(50px) scale(2);
} 

