[9:17 PM] HYR Silva
.LeaderBox{
    margin-top: 7;
    margin-bottom: 4;
    border-radius: 1;
    padding: 2;
    font-family: "Oswald", sans-serif;
    font-weight: 900 !important;
    font-size: 20px;
    text-shadow: -1px -1px 6px rgba(255, 215, 77, 0.6),
     1px 1px 6px rgba(124, 127, 255, 0.6);
}
